@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root{ 

     --vinho: rgb(70, 25, 25);
    --laranja: rgb(212, 152, 31);
    --branco: rgb(215, 229, 236);
    --azul-claro: rgb(102, 188, 184);
    --texto: "Montserrat", sans-serif;
    --titulo: "Oswald", sans-serif;
}

body{ 
    background-color: var(--vinho);
    font-family: var(--titulo);
    margin: 0;
}
header{
    background-color:var(--branco);
    display: flex;
    justify-content: space-around;
    padding:10px;
    align-items: center;

}

.img-logo{
    width: 10%;
    border-radius: 100%;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a{
    text-decoration: none;
    color: var(--azul-forte);
}

.menu a:hover{
    color: var(--azul-claro);
    transition: 0.5s;
}

.capa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.capa img{
    width: 100%;
    height: auto;
    display:block;
    object-fit: cover;
}

.apresentacao{
    font-family: var(--titulo);
    text-align: center;
    margin: 30px 0;
}


.apresentacao h2{
    color: var(--branco);
    font-size: 50px;
}

.apresentacao p{
    color: var(--preto);
    font-size: 25px;
    font-family: var(--texto);
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 5px;
}
.sobre div{
    width: 40%;
    text-align: center;
}
.sobre-img img{
    width: 50%;
    border-radius: 0px 20px 0 20px;
    box-shadow: 3px 3px 10px #130f21;
}

.sobre h2{
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--laranja);
    margin-bottom: 15px;
}

.sobre p{
    font-size: 24px;
    color: var(--azul-forte);
}

footer{
    background-color: var(--azul-forte);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vinho);
    font-size: 18px;
}

/* Produtos */

.produtos{
    padding: 40px 0;
    text-align: center;
}

.produtos h2{
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--azul-claro);
    margin: 40px 0;
}

.lista-produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produto{
    background-color: var(--preto);
    width: 27%;
    padding: 20px;
    border-radius: 10px;
}

.produto img{
    width: 100%;
    border-radius: 10px;
}

.produto h3{
    font-family: var(--titulo);
    color: var(--azul-claro);
    font-size: 24px;
}
.produto p{
    font-family: var(--texto);
    color: var(--preto);
    font-size: 18px;
    font-style: normal;
}
.produto button{
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--titulo);
    background-color: var(--azul-claro);
    color: var(--vinho);
    border: none;
    border-radius: 12px;
}
.produto button:hover{



    background-color: var(--azul-forte);
    transition: 0.3s;
    cursor: pointer;



}






