@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root{ 

     --vinho: #780000ff;
    --beige: #fdf0d5ff;
    --azul: #003049ff;
    --azul-claro: #669bbcff;
    --texto: "Montserrat", sans-serif;
    --titulo: "Oswald", sans-serif;
}

body{ 
    background-color: var(--vinho);
    font-family: var(--titulo);
    margin: 0;

}
header{
     background-color: var(--beige);
     display: flex;
     justify-content: space-around;
     padding: 10px;
     align-items: center;
}


.img-logo{
    width: 10%;
    border-radius: 100%;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a{
    text-decoration: none;
    color: var(--verde);
}

.menu a:hover{
    color: var(--preto);
    transition: 0.5s; 
}

.capa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.capa img{
    width: 100%;
    height: auto;
    display:block;
    object-fit: cover;
    }

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    color: var(var(--azul-claro));
    font-size: 20px;
    font-family: var(--titulo);
    text-transform: uppercase;

}

.menu a{
    text-decoration: none;
    color: var(--azul);

}
.menu a:hover{
    color: var(--preto);
    transition: 0.5s;
}
 .capa{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    display: block;
    object-fit: cover;
}

.apresentacao {
    font-family: var(--titulo);
    text-align: center;
    margin: 30px 0;
}

.apresentacao h2{
    color: var(--preto);
    font-size: 50px;

}

.apresentacao p{
    color: var(--beige);
    font-size: 25px;
    font-family: var(--texto);
}
.sobre{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}
 
.sobre div{
    width: 40%;
    text-align: center;
}
.sobre-img img{
    width: 50%;
    border-radius: 20px;
    box-shadow: 3px 3px 20px black;
}

.sobre h2{
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--beige);
    margin-bottom: 15px;
}
.sobre p{
    font-size: 24px;
    color:var(--azul)
}
footer{
    background-color: var(--azul-claro);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige);
    font-size: 18px;
}

/* produtos */
.produtos{
    padding: 40px 0;
    text-align: center;
}

.produtos h2{
    font-family: var(--titulo);
    font-size: 40px;
    color: var(--preto);
    margin: 40px 0;
}
.lista-produtos{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.produto{
background-color: var(--beige);
width: 27%;
padding: 20px;
border-radius: 10px;

}
.produto img{
    width: 100%;
    border-radius: 10px;
}
.produtos h3{
font-family: var(--titulo);
color: var(--azul);
font-size: 20px;
}
.produtos p{
    font-family: var(--texto);
    color: var(--preto);
    font-size: 18px;
    font-style: italic;
}
.produto button{
    padding: 10px 24px;
    font-size: 16px;
    font-family: var(--titulo);
    background-color: var(--azul-claro);
    color: var(--preto);
    border: none;
    border-radius: 12px;
}
.produto button:hover{
    background-color: var(--preto);
    transition: 0,3s;
    cursor: pointer;
}