@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root{ 

     --vinho: #780000ff;
    --beige: #fdf0d5ff;
    --azul: #003049ff;
    --azul-claro: #669bbcff;
    --texto: "Montserrat", sans-serif;
    --titulo: "Oswald", sans-serif;
}

body{ 
    background-color: var(--vinho);
    font-family: var(--titulo);
}